.panel-heading {
  background-color: #5ac3ff !important;
}

.task-container {
  width: 60%;
  margin: auto;
}

.task-panel:nth-child(odd){
   background: #bffafc;
   margin: 0 0 !important;
 }

 .task-panel:nth-child(even){
    margin: 0 0 !important;
  }

.new-task-input {
  width: 75%;
}

.save-task {
  width: 25%;
  padding: 17px 0;
  background: #51e8e0;
  border: none;
  border-bottom: 2px initial solid;
}

input[type=checkbox]:checked + a.navbar-link, input[type=checkbox]:checked + div.task{
  text-decoration: line-through;
  font-style: italic;
}
