.panel-heading {
  background-color: #5ac3ff !important;
}

.task-container {
  width: 60%;
  margin: auto;
}

.task-panel:nth-child(odd){
   background: #bffafc;
   margin: 0 0 !important;
 }

 .task-panel:nth-child(even){
    margin: 0 0 !important;
  }

.new-task-input {
  width: 75%;
}

.save-task {
  width: 25%;
  padding-bottom: 32px;
}

input[type=checkbox]:checked + a.navbar-link{
  text-decoration: line-through;
  font-style: italic;
}
