<div class="container task-container">
  <div class="panel panel-primary">
    <div class="panel-heading">Current Tasks
    </div>
    <form>
      <input type="text" ng-model="home.task" class="panel-body new-task-input" placeholder="New Task">
      <button class="pull-right save-task" ng-click="home.create_task()">Save</button>
    </form>

    <div class="panel-body task-panel" ng-repeat="task in home.ApiRequests.tasks track by $index">
      adsf
      {{ task.item }}
      {{ task['item'] }}
    </div>
  </div>
</div>
