<div class="container task-container">
  <div class="panel panel-primary" style="max-width: 75%; margin: auto;">
    <div class="panel-heading"><h3 style="margin-left: 3px;">All Lists</h3>
      <div></div>
      <div class='btn btn-primary' ng-controller="ListModalCtrl as listModal" ng-click="listModal.openModal()">
        Create List
      </div>
    </div>
    <h4 ng-repeat="list in home.ApiRequests.lists" class="task-panel panel-body">
      <input id="list_checkbox" class="form-check-input" type="checkbox" style="margin-right: 5px;" ng-model="list_id">
      <a ui-sref="list" class="navbar-link" ng-click="home.pass_list_id(list.id)">{{ list["name"] }}</a>
      <div class='btn btn-danger' ng-click="home.delete_list(list.id)">Delete List
      </div>
    </h4>
  </div>
</div>
