<div class="container task-container">
  <div class="panel panel-primary">
    <div class="panel-heading">Current Tasks
    </div>
    <form>
      <input type="text" ng-model="list.task" class="panel-body new-task-input" placeholder="New Task">
      <button class="pull-right save-task" ng-click="list.create_task()">Save</button>
    </form>

    <div class="panel-body task-panel" ng-repeat="task in list.TasksApiRequests.tasks">
      <input id="task_checkbox" class="form-check-input" type="checkbox" style="margin-right: 10px; float: left;" ng-model="checked" ng-change="list.hide_task(task.id)">
      <div class="task">
        {{ task.item }}
        <i id="delete-icon" class="fa fa-trash" aria-hidden="true" ng-click="list.delete_task(task.id)" style="cursor: pointer; margin-left: 5px;" ng-show="checked"></i>
     </div>
    </div>
  </div>
</div>
