<div class="container task-container">
  <div class="panel panel-primary">
    <div class="panel-heading">Current Tasks
    </div>
    <form>
      <input type="text" ng-model="list.task" class="panel-body new-task-input" placeholder="New Task">
      <button class="pull-right save-task" ng-click="list.create_task()">Save</button>
    </form>

    <div class="panel-body task-panel" ng-repeat="task in list.ApiRequests.tasks">
      <input id="task_checkbox" class="form-check-input" type="checkbox" style="margin-right: 10px; float: left;" ng-model="checked">
      <div class="task">
        {{ task['item'] }}
     </div>
    </div>
  </div>
</div>
