
  <h3>What would you like your to-do list to be called?</h3>
  <form class="form-horizontal">
    <div class="form-group">
      <div class="col-sm-12">
        <input type="text" class="form-control" placeholder="List Name" ng-model="listModal.list_name">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-primary" ng-click="listModal.newList()">Save List</button>
        <button class="btn btn-primary" ng-click="listModal.cancelModal()">Cancel</button>
      </div>
    </div>
  </form>
